<!DOCTYPE html>
<html lang="fr" data-theme="{{ theme }}"">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XCore | Framework FastAPI Modulaire & MicroUI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
        .code-window { background: #1e1e1e; color: #d4d4d4; border-radius: 8px; font-family: 'Fira Code', monospace; }
        .feature-card:hover { transform: translateY(-5px); transition: all 0.3s ease; }
    </style>
</head>
<body class="bg-base-100 text-base-content antialiased ">
    <div class="navbar bg-base-100 border-b border-base-200 px-4 md:px-12 sticky top-0 z-50">
        <div class="flex-1">
            <a class="text-2xl font-black tracking-tighter italic">X<span class="text-primary italic">CORE</span></a>
        </div>
        <div class="flex-none gap-4">
            <ul class="menu menu-horizontal px-1 hidden md:flex font-medium">
                <li><a href="/arch">Architecture</a></li>
                <li><a href="/microui">MicroUI</a></li>
                <li><a href="/plugins">Plugins</a></li>
            </ul>
            <a href="https://github.com/traoreera/xcore" class="btn btn-neutral btn-sm">GitHub</a>
        </div>
    </div>

    <header class="hero min-h-[80vh] bg-gradient-to-b from-base-200 to-base-200">
        <div class="hero-content text-center">
            <div class="max-w-4xl">
                <div class="badge badge-primary badge-outline mb-6 p-4 font-mono">v1.0.0-rc: Système de plugins évolutif</div>
                <h1 class="text-5xl md:text-7xl font-black mb-8 leading-[1.1]">
                    L'architecture <span class="text-primary">FastAPI</span> <br> pensée pour les Micro services.
                </h1>
                <p class="text-xl mb-10 opacity-70 leading-relaxed max-w-2xl mx-auto">
                    Un core robuste (<span class="font-bold">XCore</span>), pour une gestion des plugins dynamique et un moteur template <span class="font-bold">MicroUI</span> pour des interfaces server-driven sans JS complex.
                </p>
                <div class="flex flex-wrap justify-center gap-4">
                    <a href="/arch" class="btn btn-primary btn-lg px-8">Voir l'Architecture</a>
                    <a href="/core-docs" class="btn btn-outline btn-lg px-8">Voir la Documentation</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>